{%extends 'candidates/base.html'%}
{%load static%}

{%block body_block%}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
  <img src="{{request.user.candidate.profile_pic.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{request.user.first_name}}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{request.user.candidate.Qualification}}</li>
    <li class="list-group-item">{{request.user.candidate.skills}}</li>
    <li class="list-group-item">{{request.user.candidate.experience}}</li>
  </ul>
  <div class="card-body">
    <a href="{{request.user.candidate.resume.url}}" class="card-link">Download CV</a>
    <a href="{%url 'cand-profedit'%}" class="btn btn-success">Update Profile</a>
  </div>
</div>
    </div>
    <div class="col-4"></div>
</div>

{%endblock%}