{%extends 'base.html'%}
{%block body_block%}

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card" style="width: 18rem;">
  <img src="{{application.applicant.candidate.profile_pic.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{application.applicant.first_name}}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{application.applicant.candidate.Qualification}}</li>
    <li class="list-group-item">{{application.applicant.candidate.skills}}</li>
    <li class="list-group-item"><a href="{{application.applicant.candidate.resume.url}}">View Resume</a></li>
  </ul>
  <div class="card-body">
<!--    <a href="{#}" class="card-link">Accept</a>-->
<!--    <a href="{#}" class="card-link">Reject</a>-->
  </div>
</div>
  </div>
  <div class="col-4"></div>
</div>
{%endblock%}